{% extends 'auth_base.html' %}
{% load static %}

{% block title %}パスワードリセット - 画像解析アプリ{% endblock %}

{% block content %}
<div class="flex h-auto min-h-screen items-center justify-center overflow-x-hidden py-2">
  <div class="relative flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="bg-base-100 shadow-base-300/20 z-1 w-full max-w-md space-y-6 rounded-xl p-6 shadow-md sm:p-8">
      <div class="flex items-center gap-3">
        <h2 class="text-base-content text-xl font-bold">画像解析アプリ</h2>
      </div>
      <div>
        <h3 class="text-base-content mb-1.5 text-2xl font-semibold">パスワードを忘れた場合</h3>
        <p class="text-base-content/80">メールアドレスを入力してください。パスワードリセットの手順をお送りします。</p>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mb-4">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      <form class="mb-4 space-y-4" method="post">
        {% csrf_token %}
        <div>
          <label class="label-text" for="userEmail">Email address*</label>
          <input type="email" placeholder="Enter your email address" class="input" id="userEmail" name="email"
            required />
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-gradient w-full">リセットメール送信</button>
      </form>

      <div class="group flex items-center justify-center gap-2">
        <span
          class="icon-[tabler--chevron-left] text-primary size-5 shrink-0 transition-transform group-hover:-translate-x-1 rtl:rotate-180"></span>
        <a href="{% url 'v2_login' %}" class="link link-animated link-primary font-normal">ログイン画面</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}